.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1rem 2rem;

  .logo {
    img {
      max-height: 45px;
      width: auto;
    }
  }

  .navbar {
    ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin: 0 1rem;

        a {
          text-decoration: none;
          color: var(--secondary-color);
          font-weight: 500;
          transition: color 0.3s ease;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;

    i {
      font-size: 1.30rem;
      color: var(--secondary-color);
      margin-left: 1rem;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

}
