<header class="header">
  <!-- Logo -->
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="images/logo.png" alt="ecommerce logo" />
    </a>
  </div>

  <!-- Navbar -->
  <nav class="navbar">
    <ul>
      <li *ngFor="let item of items">
        <a [routerLink]="item.link">{{ item.label }}</a>
      </li>
    </ul>
  </nav>

  <!-- Buttons -->
  <div class="buttons">
    <!-- Search -->
    <i class="pi pi-search"></i>

    <!-- Shopping cart -->
    <span class="p-overlay-badge cursor-pointer">
      <a [routerLink]="['/cart']">
        <i class="pi pi-shopping-cart"></i>
        @if(cartItemCount !== 0){
          <p-badge [value]="cartItemCount"></p-badge>
        }
      </a>
    </span>
  </div>
</header>
